.diafan_errors {
    border: 1px solid #c05f5f;
    padding: 7px 7px 7px 30px;
    color: #c05f5f;
    margin: 0 8% 10px;
    width: 80%;
}

.diafan_errors td.calls {
    cursor: pointer;
}

.diafan_errors td.calls div {
    padding:10px 15px;
    display: none;
}

.diafan_errors td.file {
    vertical-align: top;
    white-space: nowrap;
}

.diafan_errors table
{
    width:100%;
}

.diafan_errors table tr:hover {
    background-color: #f0e6e6;
}

.diafan_div_error_overlay {
	position: absolute;
	z-index: 8;
	background: #ccc;
	opacity: 0.8;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.diafan_div_error {
    position: absolute;
    width: 70%;
    z-index: 9;
    border: 1px solid #ccc;
	background: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.17);
	padding: 5px 5px 5px 8px;
	top: 0;
	left: 0;
}
