/* 
 * CSS-файл формы подписки на рассылки
 */

.subscription .captcha {
	text-align: initial;
}
.subscription .captcha div {
	margin-bottom: 10px;
}
.subscription .captcha .fa {
	color: inherit;
	font-size: inherit;
	vertical-align: inherit;
	margin-right: inherit;
}

.subscription .block.captcha {
	margin: 0px auto;
	background-color: #555;
	color: #FFF;
	z-index: 1;
}

/* animation CSS */
.subscription .captcha {
	height: 0px;
}
.subscription .block.captcha {
	transition: margin-top 0.4s, padding 0.8s, opacity 0.2s;
}
.subscription input[name=mail]:not(:focus) ~ .captcha .block.captcha {
	margin-top: -56px;
	padding: 0px 21px;
	opacity: 0;
	transition: margin-top 0.4s, padding 0.8s, opacity 0.2s;
}
.subscription input[name=mail]:not(:focus) ~ .captcha .block.captcha * {
	opacity: 0;
	transition: opacity 0.1s;
}
.subscription input[name=mail]:focus ~ .captcha .block.captcha,
.subscription:hover input[name=mail] ~ .captcha .block.captcha,
.subscription input[name=mail] ~ .captcha.active .block.captcha {
	margin-top: 0px;
	padding: 13px 21px;
	opacity: 1;
	transition: margin-top 0.4s, padding 0s, opacity 0.2s;
}
.subscription input[name=mail]:focus ~ .captcha .block.captcha * ,
.subscription:hover input[name=mail] ~ .captcha .block.captcha * ,
.subscription input[name=mail] ~ .captcha.active .block.captcha * {
	opacity: 1;
	transition: opacity 0.8s;
}
